# Operating System Files

*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

# Build Artifacts

**/.gradle/
**/build/
**/target/
**/bin/
**/dependency-reduced-pom.xml

# Eclipse Project Files
.metadata
.metadata/
**/.classpath
**/.project
**/.settings/

# IntelliJ IDEA Files

**/*.iml
**/*.ipr
**/*.iws
**/*.idea

# Additional Files
README.html
.gitsecret/keys/random_seed
1.py
2.py
hello.txt
Dockerfile
